@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Jameel Noori Nastaleeq';
  src: url('../public/fonts/JameelNooriNastaleeqRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Noto Nastaliq Urdu';
  src: url('../public/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu Medium';
  src: url('../public/fonts/NotoNastaliqUrdu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu SemiBold';
  src: url('../public/fonts/NotoNastaliqUrdu-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu Bold';
  src: url('../public/fonts/NotoNastaliqUrdu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu Variable';
  src: url('../public/fonts/NotoNastaliqUrdu-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

.rtl {
  direction: rtl;
}

.urdu-small {
  letter-spacing: 0.025em;
  direction: rtl;
  font-family: 'Jameel Noori Nastaleeq', 'sans-serif';
}


.urdu-jameel {
  line-height: 4.5rem;
 /* Adjust this value as needed */
  letter-spacing: 0.045em;
  direction: rtl;
  font-family: 'Jameel Noori Nastaleeq', 'sans-serif';
  font-size: 28px;
}

.urdu {
  line-height: 4.5rem;
 /* Adjust this value as needed */
  letter-spacing: 0.045em;
  direction: rtl;
  font-family: 'Noto Nastaliq Urdu', 'sans-serif';
  font-size: 28px;
}

.persian {
  line-height: 6rem;
  /* Adjust this value as needed */
  letter-spacing: 0.03em;
  direction: rtl;
  font-family: 'Noto Nastaliq Urdu', 'sans-serif';
  font-size: 40px;
}

.persian-small {
  direction: rtl;
  font-family: 'Noto Nastaliq Urdu', 'sans-serif';
}

.typing-cursor {
  display: inline-block;
  width: 4px;
  height: 64px;
  background-color: rgba(220, 38, 38, var(--tw-text-opacity));
  margin-right: 16px;
  margin-bottom: -16px;
}

.typing-cursor-static {
  @apply inline-block bg-black;
  width: 4px;
  height: 64px;
  margin-right: 16px;
  margin-bottom: -16px;
  background-color: rgba(220, 38, 38, var(--tw-text-opacity));
}