@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  src: url('../public/fonts/NotoNastaliqUrdu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu Medium';
  src: url('../public/fonts/NotoNastaliqUrdu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu SemiBold';
  src: url('../public/fonts/NotoNastaliqUrdu-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu Bold';
  src: url('../public/fonts/NotoNastaliqUrdu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu Variable';
  src: url('../public/fonts/NotoNastaliqUrdu-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}
